{% extends 'registration/base.html' %}
{% block content %}
    <title>Registration</title>
    <div class="container">
        <div class="form-container">
            <form method="post">
                {% csrf_token %}
                <h2 class="mb-4 text-center">Register</h2>
                <div class="mb-3">
                    <label for="registerEmail" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="registerEmail" name="email"
                           hx-post="{% url 'check_email' %}"
                           hx-trigger="blur delay:500ms"
                           hx-target="#email-status"
                           hx-indicator="#loading-indicator"
                           hx-swap="innerHTML"
                           required>
                    <div id="email-status"></div>
                    <div id="loading-indicator" style="display:none;">Loading...</div>
                </div>
                <div class="mb-3">
                    <label for="registerPassword" class="form-label">Password</label>
                    <input type="password" class="form-control" id="registerPassword" name="password1"
                    pattern="(?=.*[A-Z])(?=.*[a-z])(?=.*\d).{8,}"
                    title="Password must be at least 8 characters long, contain at least one uppercase letter, one lowercase letter, and one number."
                    required>
                </div>
                <div class="mb-3">
                    <label for="confirmPassword" class="form-label">Confirm Password</label>
                    <input type="password" class="form-control" id="confirmPassword" name="password2" required>
                </div>
                <div id="passwordMatchMessage" class="form-text"></div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="agreeTerms" required>
                    <label class="form-check-label" for="agreeTerms">I agree to the Terms and Conditions</label>
                </div>
                <button type="submit" class="btn btn-primary w-100">Register</button>
                <div class="mt-3 text-center">
                    <a href="/login/" class="text-muted">Already have an account? Login here</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}