{% extends 'tracker/base.html' %}

{% block head_title %}
    Target Channels
{% endblock head_title %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-lg-8">
            <div id="target-list" class="">
                {% include 'tracker/partials/target_list.html' %}
            </div>
        </div>
        <div class="col-lg-4">
            <button type="button" class="btn btn-dark w-100 mt-3" data-bs-toggle="modal"
                    data-bs-target="#formSourceModal"
                    hx-get="{% url 'create_target' %}" hx-target="#formSourceModal .modal-content">
                Add New Channel
            </button>
            {% include "tracker/partials/target_filters.html" %}
        </div>
    </div>
</div>

<div class="modal fade" id="formSourceModal" tabindex="-1" aria-labelledby="formModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal content dynamically loaded with HTMX -->
        </div>
    </div>
</div>
{% endblock %}