<div class="mt-3">
    <div class="card-header bg-white d-flex justify-content-between align-items-center" style="border: none">
        <h2 class="fs-5 mb-0">Posts</h2>
        <div class="d-flex gap-2">
            <div class="input-group">
                <span class="input-group-text bg-white">
                    <i class="bi bi-search"></i>
                </span>
                <input type="search" class="form-control" placeholder="Search posts" name="query"
                       hx-post="{% url 'filter_posts' channel.pk %}"
                       hx-trigger="keyup changed delay:500ms"
                       hx-target="#post-list"
                       hx-indicator="#search-indicator"
                       hx-include="#search-input"
                       hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                >

            </div>
            <div class="dropdown">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="postFilterDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-funnel"></i>
                </button>
                <ul class="dropdown-menu" aria-labelledby="postFilterDropdown">
                    <li><a class="dropdown-item" href="#" hx-get="{% url 'filter_posts' channel.pk %}?status=all" hx-target="#post-list">All Posts</a></li>
                    <li><a class="dropdown-item" href="#" hx-get="{% url 'filter_posts' channel.pk  %}?status=pending" hx-target="#post-list">Pending</a></li>
                    <li><a class="dropdown-item" href="#" hx-get="{% url 'filter_posts' channel.pk %}?status=posted" hx-target="#post-list">Posted</a></li>
                    <li><a class="dropdown-item" href="#" hx-get="{% url 'filter_posts' channel.pk %}?status=rejected" hx-target="#post-list">Rejected</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>