<div id="post-{{ post.pk }}">
    <div class="card mb-3 mt-3">
        <div class="card-body">
            <h5 class="card-title"><i class="bi bi-clock-fill"></i> : {{ post.created_at }}</h5>
            <p class="card-text">{{ post.content }}</p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                    <button type="button" class="btn btn-sm btn-dark me-2"
                            hx-get="{% url 'update_post' post.pk %}"
                            hx-target="#post-{{ post.pk }}"
                            hx-swap="outerHTML">
                        <i class="bi bi-pencil-square"></i> Edit
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>