<div id="channel-{{ channel.pk }}">
    <div class="card mb-3 mt-3">
        <div class="card-body">
            <h5 class="card-title">{{ channel.name }}</h5>
            <p class="card-text">{{ channel.source_link }}</p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                    <a type="button" class="btn btn-sm btn-dark me-2"
                       hx-get="{% url 'source_post_list_component' channel.pk %}"
                       hx-swap="outerHTML"
                       hx-target="#source-page-content"
                       hx-push-url="/source/{{ channel.pk }}">
                        <i class="bi bi-three-dots-vertical"></i> Detail
                    </a>
                    <button type="button" class="btn btn-sm btn-dark me-2"
                            hx-get="{% url 'update_source' channel.pk %}"
                            hx-target="#channel-{{ channel.pk }}"
                            hx-swap="outerHTML">
                        <i class="bi bi-pencil-square"></i> Edit
                    </button>
                    {% include 'tracker/partials/source_active_following.html' %}
                    {% include 'tracker/partials/source_verified_status.html' %}
                </div>
                {% include 'tracker/partials/source_delete_button.html' %}
            </div>
        </div>
    </div>
</div>