<div id="source-list">
    {% for channel in page_obj %}
        {% include "tracker/partials/source_element.html" %}
        <!-- TODO: Hotfix, should be changed next time -->
        {% if source_pk == channel.pk %}
            <div
                    hx-get="{% url 'get_source' channel.pk %}"
                    hx-trigger="load delay:1s"
                    hx-swap="outerHTML"
                    hx-target="#channel-{{ channel.pk }}">
            </div>
        {% endif %}
    {% endfor %}
    {% include "tracker/partials/pagination_source_list.html" %}
</div>
