<div id="channel-{{ channel.pk }}">
    <div class="card mb-3 mt-3">
        <div class="card-body">
            <h5 class="card-title">{{ channel.name }}</h5>
            <p class="card-text">{{ channel.source_link }}</p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                    <button type="button" class="btn btn-sm btn-dark me-2">
                        <i class="bi bi-three-dots-vertical"></i> Detail
                    </button>
                    <button type="button" class="btn btn-sm btn-dark me-2"
                            hx-get="{% url 'update_source' channel.pk %}"
                            hx-target="#channel-{{ channel.pk }}"
                            hx-swap="outerHTML">
                        <i class="bi bi-pencil-square"></i> Edit
                    </button>
                    {% include 'tracker/partials/active_following_element.html' %}
                    {% include 'tracker/partials/verified_status_element.html' %}
                </div>

                {% include 'tracker/partials/delete_source_button.html' %}
            </div>
        </div>
    </div>
</div>