<div id="auto-post-{{ channel.pk }}">
    <!-- Auto Post Button -->
    {% if channel.auto_post %}
        <span
            hx-post="{% url 'update_target_status' channel.pk %}"
            hx-target="#auto-post-{{ channel.pk }}"
            hx-swap="outerHTML"
            hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
            class="btn btn-sm btn-success me-2">
            Auto post:
            <i class="bi bi-check ms-1"></i>
        </span>
    {% else %}
        <span
            hx-post="{% url 'update_target_status' channel.pk %}"
            hx-target="#auto-post-{{ channel.pk }}"
            hx-swap="outerHTML"
            hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
            class="btn btn-sm btn-danger me-2">
            Auto post:
            <i class="bi bi-exclamation-triangle"></i>
        </span>
    {% endif %}
</div>